.shop-image{
    margin: 10px;
}

.shop-image > img{
    padding-top: 60px;
    height: same-as-width;
    width: 350px;
}
  
.shops-container{
    background-color: #333333;

    display: grid;
    height: 65vh;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 50px; 
    overflow: scroll;
    padding-top: 36px;
    padding-left: 50px;
    padding-bottom: 0;

}

.ind-image{
    object-fit: cover;
    height: 250px;
    width: 250px;
    
}

#image-link{
    text-decoration: none;
    color: #e3e3e3;
    font-family: Didot, sans-serif;
    
}

#new-shop-link{
    text-decoration: none;
    color: #e3e3e3;
    font-family: Didot, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color:royalblue;
    border-radius: 10%;
    max-height: 250px;
    
}