body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  font-family: Didot, sans-serif;
  /* font-size: 50px; */
  color: #e3e3e3;
  height: 100vh;
  width: 100vw;
  overflow:auto;
}

.switch-container {
  background-color: #333333;
  position: relative;
  height: 30vw;
  width: 100vw;
  padding: 0;
}

.main-container{
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  width: 100vw;
  grid-template-columns: repeat(auto-fit, 250px);
  /* grid-gap: 10px;  */
  overflow: scroll;
  padding: 25px;
  padding-bottom: 0;
}

#new-form-link{
  text-decoration: none;
  color: #e3e3e3;
  font-family: Didot, sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 4px;
  border-color:royalblue;
  border-radius: 10%;
  height: 250px;
  width: 250px;
  margin: 20px;
}

.ind-image{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 4px;
  border-color:gold;
  border-radius: 10%;
  margin: 20px;
  /* order: 1; */
}
.ind-image:hover {
  border-width: 5px;
  margin: 19px;
}

.ind-title{
  text-align: center;
}

#text-link{
  text-decoration: none;
  color: #e3e3e3;
  font-family: Didot, sans-serif;
}

#text-link:hover {
  color: green;
}

.shop-details-container{
  display: flex;
  padding-left:20px;
  padding-top: 20px;
}
.details{
  margin: 10px;
}

.details-image {
  margin: 10px;
}

.details-image > img{
  padding-top: 60px;
  /* height: same-as-width; */
  height: auto;
  width: 350px;
}

.details > h4{
  font-family: Didot, sans-serif;
  font-weight: bold;
  color: #e3e3e3;
  font-size: 40px;
}

.details > p{
  font-family: Didot, sans-serif;
  color: #e3e3e3;
}

.link-box {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  height: auto;
  width: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: green;
  border-radius: 6px;
  margin: 10px 0;
  padding: 1px;
}
.link-box:hover {
  border-width: 3px;
  padding: 0;
}

.additional-details {
  position: relative;
  margin-top: 145px;
}
.additional-details > h4{
  position: relative;
  margin-top: 100px;
  color: #E3E3E3;
  font-family: Didot, sans-serif;
  font-size: 40px;
}
.additional-details > p{
  font-family: Didot, sans-serif;
  color: #E3E3E3;
}
.additional-details > div > p{
  font-family: Didot, sans-serif;
  color: #E3E3E3;
}

.service-text > h4{
  font-family: Didot, sans-serif;
  color: #e3e3e3;
  font-size: 40px;
  padding-left: 15px;
}

.service-text > p {
  font-family: Didot, sans-serif;
  color: #e3e3e3;
  padding-left: 15px;
}

.form-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  /* width:460px;  */
  color: #e3e3e3;
  font-family: Didot, sans-serif;
}

.h2{
  color: #e3e3e3;
  font-family: Didot, sans-serif;
}

.label{
  /* display: inline-block; */
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
}
.form_wrap {
  position: relative;
}

.form_wrap select {
  float: left;
  margin: 10px 25px;
}
#submit-btn {
  float: right;
}

.basket-title {
  font-family: Didot, sans-serif;
  font-size: 50px;
  color: #e3e3e3;
  height: 400px;
  width: 600px;
}
