body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  font-family: Didot, sans-serif;
  /* font-size: 50px; */
  color: #e3e3e3;
  height: 100vh;
  width: 100vw;
  overflow:auto;
}

.switch-container {
  background-color: #333333;
  position: relative;
  height: 30vw;
  width: 100vw;
  padding: 0;
}

.shop-details-container{
  display: flex;
  padding-left:20px;
  padding-top: 20px;
}
.details{
  margin: 10px;
}

.details > h4{
  font-family: Didot, sans-serif;
  font-weight: bold;
  color: #e3e3e3;
  font-size: 40px;
}

.details > p{
  font-family: Didot, sans-serif;
  color: #e3e3e3;
}

.additional-details {
  position: relative;
  margin-top: 145px;
}
.additional-details > h4{
  position: relative;
  margin-top: 100px;
  color: #E3E3E3;
  font-family: Didot, sans-serif;
  font-size: 40px;
}
.additional-details > p{
  font-family: Didot, sans-serif;
  color: #E3E3E3;
}
.additional-details > div > p{
  font-family: Didot, sans-serif;
  color: #E3E3E3;
}

.service-text > h4{
  font-family: Didot, sans-serif;
  color: #e3e3e3;
  font-size: 40px;
  padding-left: 15px;
}

.service-text > p {
  font-family: Didot, sans-serif;
  color: #e3e3e3;
  padding-left: 15px;
}

.basket-title {
  font-family: Didot, sans-serif;
  font-size: 50px;
  color: #e3e3e3;
  height: 400px;
  width: 600px;
}
